
<div class="experience color">
    <div class="col-lg-8">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header class="expansion-panel-header" [style.background]="sectionColor">
                    <mat-panel-title class="expansion-panel-title font-montserrat shade-dark" [style.background]="sectionColor">
                        {{corporateName}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-panel-hidden font-montserrat shade-dark">
                    <h6>{{experienceTimeFrame}}</h6>
                    <p>{{experienceDetails}}</p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

